div {
    padding: 200px 
}
div {
    margin: 25px 50px
}
p {
    font-family:cursive
}
body {
    background-color:beige
}
.location-list {
    font-family:cursive
}
#intro {
    font-family:cursive
}