div {
    padding: 50px 
}
p {
    font-family:cursive
    color:brown
    margin:50px 25px
}
body {
    background-color:beige
}
.location {
    font-family:Georgia, 'Times New Roman', Times, serif
}
#intro {
    font-family:cursive
}